body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family:'Courier New', Courier, monospace;
    background-size: cover;
    background-position: center center;
    
}

html, body, #image, #gradient {
    height: 100%;
    width: 100%;

}

.header {
    display: flex;
    min-width: 110vw;
    justify-content: center;
    background-color: rgb(26, 25, 25);
    box-shadow: 5px 5px 9px 5px #181818;
}

a { 
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .titulos {
    display: flex;
    justify-content: center;
    margin-bottom: -15px;
}

.titulos {
    margin-top: -2px;
    color: rgb(241, 241, 28);
    justify-content: center;
    text-shadow: 0.1em 0.1em #333
}

.form {
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    margin: 0 auto;
}

.form input {
    width: 60%;
    padding: 5px 18px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button {
    background-color: rgb(241, 227, 28);
    padding: 5px 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;  
    border-radius: 0px 5px 5px 0px;
    margin-left: -12px;

}
/* Acima se encontram os atributos do cabeçalho */

.menu {
    margin-top: -2px;
    min-width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 8px;
    margin-left: -12px;
}

.menu button {
    cursor: pointer;  
    border-radius: 5px 5px 5px 5px;
    margin-top: -2px;
    margin-left: 5px;
    background-color: rgb(241, 227, 28);
    color: black;
    width: 15%;
}

.inicio button {
    cursor: pointer;  
    border-radius: 5px 5px 5px 5px;
    margin-top: -2px;
    margin-left: 0px;
    background-color: rgb(241, 227, 28);
    color: black;
    width: 10%;
}

.destaques {
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 5px 5px;
    margin-top: 0%;
    color: black;
}

/* Aqui começa a página principal */
.principal {
    margin-top: -2px;
    background-image: url(imagens/capita-marvel.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.produtos {
    margin-top: -2px;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    margin-left: 1%;
    flex-wrap: wrap;
}

.comprar button{
    margin-top: -2px;
    background-color: rgb(241, 227, 28);
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    margin-left: 29px;
    width: 150px;
}

.comprar {
    margin-top: -2px;
    display: flex;
    justify-content: space-around;
    width: 99%;
}

/* Aqui começa a página Marvel Comics */

.revistas {
    margin-top: -2px;
    background-image: url(imagens/MC.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.marvelcomics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;	
}

.marvelcomics2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#imgmc1 {
    border: rgb(0, 0, 0) solid 3px;
    box-shadow:rgb(26, 25, 25);
    flex-wrap: wrap;

}

/* Aqui começa a página livros */

.livros {
    margin-top: -2px;
    background-image: url(imagens/livros.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

/* Aqui começa a página estatuetas */

.estatuetas {
    margin-top: -2px;
    background-image: url(imagens/estatuetas.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Aqui começa a página localização */


.localização {
    margin-top: -2px;
    background-image: url(imagens/localização.PNG);
    background-size: cover;
    background-repeat: no-repeat;
}

.textolocalidade {
    text-align: justify;
    justify-content: left;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(241, 227, 31);
    color: rgb(0, 0, 0);
    margin-right: 28%;
    margin-left: 30%;
}

/* Aqui começa a página contatos */

.contatos {
    margin-top: -2px;
    background-image: url(imagens/contatos.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contato {
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(245, 241, 4);
    color: rgb(2, 2, 2);
    margin-right: 60%;
    margin-left: 25%;
    margin-top: 0%;
}

.contateme {
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 5px 5px;
    background-color: rgb(245, 241, 4);
    color: rgb(2, 2, 2);
    margin-right: 60%;
    margin-left: 25%;
}

/* Aqui começa a página sobre */

.sobre {
    margin-top: -2px;
    background-image: url(imagens/deadp.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.textosobre {
    color: #000;
}

.textosobre {
    text-align: justify;
    justify-content: left;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(241, 227, 31);
    color: rgb(0, 0, 0);
    margin-right: 30%;
    margin-left: 30%;
}

.comprafinal {
    margin-top: -2px;
    background-image: url(imagens/backgroundproduto.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#imgpos2 {
    background: url(imagens/sombra.png), no-repeat;
    position: absolute; 
    left: 165px;  
    top: 186px; 
    }
    
#imgpos {
    background: url(imagens/produto1.png), no-repeat;
    border: rgb(0, 0, 0) solid 2px;
    box-shadow:rgb(26, 25, 25);
	position: absolute; 
	left: 160px;  
	top: 180px; 
	}


@media only screen and (max-width: 480px) {

    .principal {
        margin-top: -2px;
        background: url(imagens/capita-marvel.png) no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        resize: both;
        overflow: scroll;
    }

    .revistas {
        margin-top: -2px;
        background: url(imagens/MC.png) no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        resize: both;
        overflow: scroll;
    }

    .livros {
        margin-top: -2px;
        background: url(imagens/livros.png) no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        resize: both;
        overflow: scroll;
    }

    .estatuetas {
        margin-top: -2px;
        background: url(imagens/estatuetas.png) no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        resize: both;
        overflow: scroll;
    }

    .localização {
        margin-top: -2px;
        background: url(imagens/localização.PNG) no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        resize: both;
        overflow: scroll;
    }

    .contatos {
        margin-top: -2px;
        background: url(imagens/contatos.png) no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        resize: both;
        overflow: scroll;
    }

    .sobre {
        margin-top: -2px;
        background: url(imagens/deadp.png) no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        resize: both;
        overflow: scroll;
    }

    .comprafinal {
        margin-top: -2px;
        background: url(imagens/hulk.png) no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        resize: both;
        overflow: scroll;
    }

    .form {
        width: 100%;
    }

    .menu {
        flex-wrap: wrap;     
    }

    .menu button {
        width: 80%;
    }

    .header .titulos h1 {
        font-size: 30px;
    }

    .textolocalidade {
        max-width: 80%;
        text-align:center;
    }

    .contato {
        text-align: center;
        width: 50%;
    }

    .contateme {
        width: 50%;
        justify-content: center;
    }

    .textosobre {
        max-width: 80%;
        text-align: justify;
    }


}